#footer {
  background-color: #4d307b;
  color: white;
}
#footer-seccion {
  flex-direction: column;
  align-items: center;
  margin: 1px;
  width: 160px;
}
#footer-seccion1 {
  flex-direction: column;
  align-items: center;
  margin: 1px;
  width: 160px;
}
#footer-seccion2 {
  flex-direction: column;
  align-items: center;
  margin: 1px;
  width: 160px;
}
#footer-seccion3 {
  flex-direction: column;
  align-items: center;
  margin: 1px;
  width: 160px;
}
#footer-seccion4 {
  flex-direction: column;
  align-items: center;
  margin: 1px;
  width: 160px;
}
#footer-seccion5 {
  flex-direction: column;
  align-items: center;
  margin: 1px;
  width: 160px;
}
.icon {
  text-decoration: none;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  background-color: #342055;
  margin: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

#social-media-footer {
  display: flex;
  justify-content: center;
}

#keepelogo-footer {
  width: 103px;
  height: 110px;
}
.keepe-letras {
  text-shadow: 2px 2px 5px black;
}
.lista1 {
  outline: none;
  text-decoration: none;
  padding: 1px 1px 0;
}
.lista1:link {
  color: #4d307b;
}
.lista1:visited {
  color: #ffffff;
}
.lista1:focus {
  border-bottom: 1px solid;
  background: #4d307b;
}
.lista1:hover {
  border-bottom: 1px solid;
  background: #4d307b;
}

.lista1:active {
  background: #4d307b;
  color: #996be4;
}
.lista2 li {
  outline: none;
  text-decoration: none;
  padding: 1px 1px 0;
}
.lista2 li:link {
  color: #4d307b;
}
.lista2 li:visited {
  color: #ffffff;
}
.lista2 li:focus {
  border-bottom: 1px solid;
  background: #4d307b;
}
.lista2 li:hover {
  border-bottom: 1px solid;
  background: #4d307b;
}

.lista2 li:active {
  background: #4d307b;
  color: #996be4;
}
.lista3 li {
  outline: none;
  text-decoration: none;
  padding: 1px 1px 0;
}
.lista3 li:link {
  color: #4d307b;
}
.lista3 li:visited {
  color: #ffffff;
}
.lista3 li:focus {
  border-bottom: 1px solid;
  background: #4d307b;
}
.lista3 li:hover {
  border-bottom: 1px solid;
  background: #4d307b;
}

.lista3 li:active {
  background: #4d307b;
  color: #996be4;
}
.lista4 li {
  outline: none;
  text-decoration: none;
  padding: 1px 1px 0;
}
.lista4 li:link {
  color: #4d307b;
}
.lista4 li:visited {
  color: #ffffff;
}
.lista4 li:focus {
  border-bottom: 1px solid;
  background: #4d307b;
}
.lista4 li:hover {
  border-bottom: 1px solid;
  background: #4d307b;
}

.lista4 li:active {
  background: #4d307b;
  color: #996be4;
}
h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
li {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
ul {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
#keepeletras {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
#copyright-contenido {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
}
