.bg-form {
  background: linear-gradient(180deg, #4d307b 0%, #f23faa 100%);
}
.border-radius {
  border-radius: 19.1888px;
}

.botonIngresar {
  color: white;
  font-family: KUMBH SANS;
}

.botonIngresar:hover {
  height: 180%;
  color: #f23faa
}
#exclamacion {
  color: rgb(212, 50, 50);
}
/* abbr {
  color: rgb(212, 50, 50);
} */
/*#imprimirTicket {
  color: #f142ab;
}*/

#textosubtitulo {
  margin-left: 50px;
}
#codigo {
  border-radius: 10px;
  border-color: rgb(93, 93, 231);
  color: rgb(93, 93, 231);
}
#pago {
  color: black;
  margin-left: 50px;
}
