.card {
  height: 315px;
}
.bg-card {
  background: #3c1f79;
  border-radius: 26px;
}
.bg-linkedin {
  background-color: white;
}

.centrado-medio{
  padding-left: 4rem;
  padding-top: 1rem;
}

.foto-linkedin {
  
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 10rem;
  height: 10rem;
}

.foto-linkedin:hover {
  
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 12rem;
  height: 12rem;
}

.titulo-color {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
}
.titulo-color2 {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
  text-align: center;
  color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.col-medidas {
  width: 271.62px;
  height: 315px;
}

.centrado-medio:hover{
  padding-left: 2.3rem;
  padding-top: 1rem;
}

.bg-image:hover {
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 11rem;
  height: 11rem;
}

.titulo-principal-color {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 80px;
  /* identical to box height */

  text-align: center;

  color: #4d307b;
}
.margin-bottom {
  margin-bottom: 100px;
}
